<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.single.pro.service.custom.ProductCustomService">

	<select id="selectProductList" parameterType="java.util.Map" resultType="com.single.pro.model.ProductModel">
		select 
			p.id,
			p.`name`,
			p.kind_id as kindId,
			pk.`name` as kindName,
			p.type_id as typeId,
			pt.`name` as typeName,
			p.company_id as companyId,
			c.`name` as companyName,
			c.`mechanism_type` as companyMechanismType,
			p.model,
			p.`describe`,
			p.constituent,
			p.survey_items as surveyItems,
			p.install_debug as installDebug,
			p.device_maintain as deviceMaintain,
			p.common_problem as commonProblem,
			p.doc_url as docUrl,
			p.manual_url as manualUrl,
			p.show_status as showStatus,
			p.contacts,
			p.contact_tel as contactTel,
			p.create_time as createTime,
			p.update_time as updateTime
			
			 from sp_product p 
			left join sp_product_kind pk on p.kind_id=pk.id
			left join sp_product_type pt on p.type_id=pt.id
			left join sp_company c on p.company_id=c.id

		<if test="searchParams != null">
			<where>
				<foreach collection="searchParams" item="item" separator="and">
					<![CDATA[ ${item.field} ${item.operator} #{item.value} ]]>
				</foreach>
			</where>
		</if>
			order by ${orderByClause}
	</select>

</mapper>
