<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.single.pro.service.custom.SystemUserCustomService">

	<select id="findSystemUsersWithRole" parameterType="java.util.Map" resultType="com.single.pro.model.SystemUserModel">
	
		select 
			su.id as id, 
			su.nick_name as nickName,
			su.login_name as loginName,
			su.phone_no as phoneNo,
			su.password as password,
			su.info as info,
			su.status as status,
			su.create_time as createTime,
			su.update_time as updateTime,
			su.last_login_time as lastLoginTime,
			group_concat(r.`name` SEPARATOR ', ') as roleNames
		from 
			sp_system_user su 
			left join sp_system_user_role sur on su.id = sur.user_id
			left join sp_role r on r.id = sur.role_id and r.`status` = 'Y'
			<if test="searchParams != null">
				<where>
					<foreach collection="searchParams" item="item" separator="and">
						<![CDATA[ ${item.field} ${item.operator} #{item.value} ]]>
					</foreach>
				</where>
			</if>
			group by su.id
			order by ${orderByClause}
	</select>

</mapper>
