<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.single.pro.service.custom.UserCustomerCustomService">

	<select id="findUserCustomers" parameterType="java.util.Map" resultType="com.single.pro.model.UserCustomerModel">
	
		select 
			u.`id` as id,
			u.`user_name` as userName,
			u.`head_pic_url` as headPicUrl,
			u.`phone_no` as phoneNo,
			u.`password` as password,
			u.`gender` as gender,
			u.`age` as age,
			u.`province` as province,
			u.`city` as city,
			u.`county` as county,
			u.`address_detail` as addressDetail,
			u.`account_status` as accountStatus,
			u.`user_type` as userType,
			u.`regist_time` as registTime,
			u.`update_time` as updateTime,
			uc.id as customerId,
			uc.company_id as companyId,
			c.`name` as companyName,
			uc.industry as industry,
			uc.grade_level as gradeLevel,
			uc.bond_status as bondStatus
		from (sp_user_customer uc 
			left join sp_user u on uc.user_id = u.id)
			left join sp_company c on uc.company_id = c.id
		<if test="searchParams != null">
			<where>
				<foreach collection="searchParams" item="item" separator="and">
					<![CDATA[ ${item.field} ${item.operator} #{item.value} ]]>
				</foreach>
			</where>
		</if>
			order by ${orderByClause}
	</select>

</mapper>
