<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.single.pro.service.custom.WorkerAptitudeCustomService">

	<select id="findWorkerAptitudes" parameterType="java.util.Map" resultType="com.single.pro.model.WorkerAptitudeModel">
		select 
			a.id as id,
			a.worker_id as workerId,
			u.user_name as userName,
			u.gender as gender,
			u.age as age,
			u.phone_no as phoneNo,
			a.city as city,
			a.apply_status as applyStatus,
			a.apply_info as applyInfo,
			a.apply_time as applyTime,
			a.update_time as handleTime,
			p.`id` as productId,
			p.`name` as productName,
			p.kind_id as kindId,
			p.type_id as typeId,
			c.`name` as companyName,
			p.cover_pic_url as coverPicUrl,
			p.model as productModel
		 from 
			((sp_worker_aptitude a 
			left join sp_product p on a.product_id = p.id)
			left join sp_user u on a.worker_id = u.id)
			left join sp_company c on p.company_id = c.id
			<where>
					<if test="workerId != null">
						and a.worker_id = #{workerId}
					</if>
					<if test="phoneNo != null">
						and u.phone_no = #{phoneNo}
					</if>
					<if test="applyStatus != null">
						and a.apply_status = #{applyStatus}
					</if>
					<if test="kindId != null">
						and p.kind_id = #{kindId}
					</if>
					<if test="typeId != null">
						and p.kind_id = #{typeId}
					</if>
					<if test="applyTimeStart != null">
						<![CDATA[ and a.apply_time >= #{applyTimeStart} ]]>
					</if>
					<if test="applyTimeEnd != null">
						<![CDATA[ and a.apply_time <= #{applyTimeEnd} ]]>
					</if>
					
			</where>
			order by a.apply_time desc
	</select>
	
	
	<select id="selectValidWorker" parameterType="java.util.Map" resultType="com.single.pro.model.WorkerAptitudeUserModel">
		select 
			wa.worker_id as workerId, 
			u.user_name as userName,
			u.age as age,
			u.gender as gender,
			u.phone_no as phoneNo,
			uw.worker_no as workerNo,
			uw.grade_level as gradeLevel,
			uw.evaluate_times as evaluateTimes
		 from 
			(sp_worker_aptitude wa left join sp_user u on wa.worker_id = u.id)
				left join sp_user_worker uw on uw.user_id = u.id
			
			<where>
				<if test="city != null">
					and wa.city = #{city}
				</if>
				<if test="productId != null">
					and wa.product_id = #{productId}
				</if>
				<if test="workerNo != null">
					and uw.worker_no like concat('%', #{workerNo}, '%')
				</if>
			</where>
			
			group by wa.worker_id
			limit 0, ${offset}
	</select>
	
</mapper>
