<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.single.pro.service.custom.WorkerAptitudeCustomService">

	<select id="findWorkerAptitudes" parameterType="java.util.Map" resultType="com.single.pro.model.WorkerAptitudeModel">
		select 
			a.id as id,
			a.worker_id as workerId,
			a.city as city,
			a.apply_status as applyStatus,
			a.apply_info as applyInfo,
			a.apply_time as applyTime,
			p.`id` as productId,
			p.`name` as productName,
			p.kind_id as kindId,
			p.type_id as typeId,
			c.`name` as companyName,
			p.cover_pic_url as coverPicUrl,
			p.model as productModel
		 from 
			(sp_worker_aptitude a 
			left join sp_product p on a.product_id = p.id)
			left join sp_company c on p.company_id = c.id
			<where>
					<if test="workerId != null">
						and a.worker_id = #{workerId}
					</if>
					<if test="kindId != null">
						and p.kind_id = #{kindId}
					</if>
					<if test="typeId != null">
						and p.kind_id = #{typeId}
					</if>
			</where>
			order by a.apply_time desc
	</select>
</mapper>
