<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.single.pro.mapper.OrderDao">

    <!-- 开启二级缓存 -->
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.single.pro.entity.Order">
        <id column="id" property="id" />
        <result column="order_no" property="orderNo" />
        <result column="customer_id" property="customerId" />
        <result column="worker_id" property="workerId" />
        <result column="project_product_id" property="projectProductId" />
        <result column="project_name" property="projectName" />
        <result column="product_id" property="productId" />
        <result column="product_name" property="productName" />
        <result column="product_kind" property="productKind" />
        <result column="product_type" property="productType" />
        <result column="product_model" property="productModel" />
        <result column="expect_stime" property="expectStime" />
        <result column="expect_days" property="expectDays" />
        <result column="order_cost" property="orderCost" />
        <result column="deposit_cost" property="depositCost" />
        <result column="paid_cost" property="paidCost" />
        <result column="order_status" property="orderStatus" />
        <result column="cancle_reason" property="cancleReason" />
        <result column="remarks" property="remarks" />
        <result column="worker_grade" property="workerGrade" />
        <result column="worker_comment" property="workerComment" />
        <result column="worker_c_time" property="workerCTime" />
        <result column="customer_grade" property="customerGrade" />
        <result column="customer_comment" property="customerComment" />
        <result column="customer_c_time" property="customerCTime" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

</mapper>
